.header {
  height: 2.6rem;
  background-color: lightblue;
}

.side-selected {
  background-color: #eaeaea;
}

.space {
  padding: 1rem;
}

mat-drawer-container {
  height: 100vh;
  width: 100vw;

  @media (max-width: 600px) {
    height: calc(100vh - 2.6rem);
  }
}

mat-drawer {
  width: 250px;
}
