<div *ngIf="mobile" class="header">
  <button
    (click)="drawer.toggle()"
    mat-icon-button
    aria-label="Example icon button with a menu icon"
  >
    <mat-icon>{{ drawer.opened ? "close" : "menu" }}</mat-icon>
  </button>
  <span>Header only for mobile view</span>
</div>
<mat-drawer-container>
  <mat-drawer
    (click)="mobile && drawer.close()"
    [opened]="mobile ? null : true"
    #drawer
    [mode]="mobile ? 'over' : 'side'"
  >
    <div class="space"></div>
    <mat-action-list>
      <button
        [routerLink]="'/authors'"
        [ngClass]="routeExtn === '/authors' ? 'side-selected' : ''"
        mat-list-item
      >
        Authors
      </button>
      <button
        [routerLink]="'/favorite-authors'"
        [ngClass]="routeExtn === '/favorite-authors' ? 'side-selected' : ''"
        mat-list-item
      >
        Favorite Authors
      </button>
    </mat-action-list>
  </mat-drawer>

  <div class="main-view">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
